    /*  css for First Table : */

/* table, th, td {
    border: 1px solid rgb(168, 18, 148);
    border-collapse: collapse;
    padding: 10px;
}

caption {
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

th {
    background-color: cadetblue;
    color: rgb(205, 235, 37);
}

td {
    background-color: darkgray;
    color: rgb(0, 60, 255);
}

table {
    
} */

        /* css for Second Table:  */
/* 
table {
    border: 1px solid wheat;
    width: 100%;
    border-collapse: collapse;
    background-color: blue;
    
}

th, td {
    border: 1px solid wheat;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    color: #ffcf00;
} */

        /* css for Third Table :  */

table {
    border: 3px solid #f42494;
    background-color: midnightblue;
    width: 70%;
    margin: auto;
    border-collapse: collapse;

}

th, td {
    border: 1px solid wheat;
    border-collapse: collapse;
    color: orangered;
    text-align: center;
    padding: 10px;
}

caption {
    font-size: 23px;
    color: rgb(160, 34, 160);
    padding-bottom: 10px;
}